@model GaspApp.Models.DashboardViewModels.TranslationsViewModel

@{
	ViewData["Title"] = "Translations";
}

<div class="container">
	<section class="section">
		<h1 class="title">Translations</h1>
		<h2 class="subtitle">Manage site translations</h2>
		<p>
			Currently editing translation group <i>@Model!.ActiveGroup</i>. <br />
			Click a dropdown option to change:
			<select class="select is-small" id="group-select" onchange="changeGroup()">
				<option value="null">(Click to change group)</option>
				@foreach (var group in Model!.Groups)
				{
					<option>@group</option>
				}
			</select>
			<br />
			<a class="button is-outlined is-danger is-small" onclick="return cd()" asp-action="BulkAutoTranslation" asp-route-group="@Model!.ActiveGroup">
				Auto-Translate all entries in this group from English
			</a>
		</p>
	</section>
</div>
<table class="table is-fullwidth">
	<thead>
		<th>Key</th>
		<th>English</th>
		<th>Arabic</th>
		<th>Chinese</th>
		<th>French</th>
		<th>Russian</th>
		<th>Spanish</th>
		<th>Options</th>
	</thead>
	<tbody>
		@foreach (var item in Model!.Items)
		{
			<tr>
				<td class="key">@item.Key</td>
				@foreach (var cul in LocaleConstants.SUPPORTED_LOCALES_TWOLETTERS)
				{
					<td><input type="text" class="input is-small @cul" value="@item.Values[cul]" /></td>
				}
				<td class="field is-grouped">
					<button class="button is-small is-success is-light" onclick="st(this)">Save</button>
					<button class="button is-small is-warning is-light" onclick="st(this)">Auto</button>
				</td>
			</tr>
		}
	</tbody>
</table>

<script>
	function changeGroup() {
		let v = document.querySelector("#group-select").value;
		if (v === null) return;
		window.location = "/Dashboard/Translations?group=" + v;
	}

	function cd() {
		if (confirm('Are you sure you would like to auto-convert ALL translations for "@Model.ActiveGroup" using the existing word in English? This action may not be undone!')) {
			alert('This will take a few moments, please wait for the page to reload.')
		} else {
			return false;
		}
	}

	function st(element) {
		let auto = element.innerText === 'Auto';

		let path = auto ? "/Dashboard/AutoTranslation" : "/Dashboard/ModifyTranslation";
		let row = element.parentNode.parentNode;
		let key = row.querySelector('.key').innerText;
		let obj = {
			'key': key,
			'values': {}
		};

		for (x of ['en', 'ar', 'zh', 'fr', 'ru', 'es']) {
			obj['values'][x] = row.querySelector('.'+x).value;
		}

		let s = fetch(path, {
			method: 'POST',
			body: JSON.stringify(obj),
			headers: {
				'Content-Type': 'application/json'
			}
		});
		s.then(function (response) {
			return response.json();
		}).then(function(data) {
			console.log(data);
			for (k in data['values']) {
				let v = data['values'][k]
				row.querySelector('.'+k).value = v;
			}
		}).catch(function(err) {
			console.log(err);
		});
	}
</script>