@inject SharedViewLocalizer Localizer

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - @Localizer["AppName"]</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" />
	<link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
	<nav class="navbar is-info">
		<div class="navbar-brand">
			<span class="navbar-item has-text-weight-bold">
				@Localizer["Global Anthropology Syllabus Project"]
			</span>
		</div>
		<div class="navbar-menu">
			<div class="navbar-start">
				<a class="navbar-item" href="@Url.Action("Index", "Home")">
					@Localizer["Home"]
				</a>
				<a class="navbar-item" href="@Url.Action("Index", "Articles")">
					@Localizer["Articles"]
				</a>
				<a class="navbar-item" href="@Url.Action("Index", "Survey")">
					@Localizer["Survey"]
				</a>
			</div>
			<div class="navbar-end">
				@await Html.PartialAsync("_CultureNavPartial")
				<div class="navbar-item has-dropdown is-hoverable">
					<span class="navbar-link">
						⚙️
					</span>
					<div class="navbar-dropdown is-right">
						@if (!User.Identity.IsAuthenticated)
						{
							<a class="navbar-item" href="@Url.Action("SignIn", "Account")">@Localizer["Sign In"]</a>
						}
						else
						{
							<span class="navbar-item">Signed in as @User.Identity.Name</span>
							<a class="navbar-item" href="@Url.Action("Index", "Dashboard")">@Localizer["Dashboard"]</a>
							<hr class="navbar-divider">
							<a class="navbar-item" href="@Url.Action("SignOut", "Account")">@Localizer["Sign Out"]</a>
						}

					</div>
				</div>
			</div>
		</div>
	</nav>
	<main>
		@RenderBody()
	</main>
</body>
</html>