@using Humanizer
@inject SharedViewLocalizer Localizer

@{
	ViewData["Title"] = "Home";
	Article? featureArticle = ViewBag.MostRecentArticle;
	ArticleContent? featureContent = ViewBag.ArticleContent;

	ArticleContent? homeContent = ViewBag.HomeContent;

	string? featureArticleString;
	if (featureArticle != null && featureContent != null)
	{
		featureArticleString = ""; // TODO!
	}
}

<div class="container">
	<section class="section">
		<h1 class="title">@Localizer["Antro Radikoj"]</h1>
		<h2 class="subtitle">@Localizer["The global anthropology syllabus project"]</h2>
	</section>
	@if (featureArticle != null && featureContent != null)
	{ 
		<section class="section">
			<div class="box">
				<h1 class="title is-4">@Localizer["Our most recent announcement"]</h1>
				<br />
				<h2 class="subtitle is-5">@featureContent.Title <small>@featureArticle.PublishedDate.Humanize()</small></h2>
				<p>
					@featureContent.Synopsis(250) <a href="/Articles/@featureArticle.Slug">@Localizer["Read more"]</a>
				</p>
			</div>
		</section>
	}
	
	@homeContent
	
	<section class="section">
		<p>@Localizer["This project has received support from the Wenner-Gren Foundation"]</p>
	</section>
</div>