@inject SharedViewLocalizer Localizer
@model Survey

@{
	ViewData["Title"] = Localizer["Survey"];
}

<section class="hero is-small is-primary">
	<div class="hero-body">
		<h1 class="title">@Localizer["Survey"]</h1>
		<h2 class="subtitle">@Model.Description</h2>
	</div>
</section>
<div class="container">
	<section class="section">
		<form class="form" action="/Participate/SubmitResult" method="POST">
			@* Survey Questions*@
			<input type="hidden" name="meta-survey-id" value="@Model.Id" />
			@foreach (var item in Model.Items.OrderBy(i => i.Position))
			{
				@switch (item.ItemType)
				{
					@case SurveyItemType.FreeResponse:
						<div class="field">
							<label class="label">@item.Label</label>
							<div class="control">
								<input class="input" type="text" name="@item.Name" required />
							</div>
						</div>
						break;
					@case SurveyItemType.SingleChoice:
						<div class="field">
							<label class="label">
								@item.Label
							</label>
							<div class="control">
							@foreach (var option in item.ParseContents())
							{
								<label class="radio">
									<input type="radio" name="@item.Name" value="@option" /> @* TODO: make first one required *@
									@option
								</label>
								<br />
							}
							</div>
						</div>
						break;
					@case SurveyItemType.MultiChoice:
						<div class="field">
							<label class="label">
								@item.Label
							</label>
							<div class="control">
							@foreach (var option in item.ParseContents())
							{
								<label class="checkbox">
									<input type="checkbox" name="@item.Name" value="@option"> @* TODO: make first one required *@
									@option
								</label>
								<br />
							}
							</div>
						</div>
						break;
				}
			}

			@* Meta-questions *@
			<hr />
			<p class="is-small">
				@Localizer["The following section will help us in analyzing the global impact of our project."]
				<span class="has-text-weight-bold">@Localizer["You may omit these details if you do not wish to be identified."]</span>
			</p>
			<div class="field">
				<div class="control">
					<span class="select is-small">
						<select name="meta-country" id="meta-country">
							<option value="null">@Localizer["Where do you teach?"]</option>
						</select>
					</span>
				</div>
			</div>
			<div class="field">
				<label class="label is-small">@Localizer["What is your Email?"]</label>
				<div class="control has-icons-left">
					<input class="input is-small is-family-code" type="email" name="meta-email" />
					<span class="icon is-small is-left">
						<i class="fas fa-envelope"></i>
					</span>
				</div>
			</div>
			<div class="field">
				<label class="label is-small">@Localizer["Your preferred name?"]</label>
				<div class="control has-icons-left">
					<input class="input is-small" type="text" name="meta-name" />
					<span class="icon is-small is-left">
						<i class="fas fa-users"></i>
					</span>
				</div>
			</div>
			<hr />
			
			<div class="control">
				<button class="button is-success" type="submit" name="route" value="another" disabled title="@Localizer["No more surveys to answer"]">@Localizer["Submit and Answer Another"]</button>
				<button class="button is-success" type="submit" name="route" value="results">@Localizer["Submit and View Results"]</button>
				<a class="button is-warning" href="~/Participate/Results">@Localizer["View Results"]</a>
			</div>
		</form>
	</section>
</div>

<script>
	const el = document.getElementById("meta-country");
	fetch("/js/Countries.json").then(r => r.json()).then(data => {
		data.forEach(x => {
			el.appendChild(new Option(x.Country, x.Abbreviation));
		});
	})
</script>