@model GaspApp.Models.ParticipateViewModels.ResultsViewModel
@inject SharedViewLocalizer Localizer    
@{
	ViewData["Title"] = Localizer["Results"];
	var GroupLocalizer = Localizer.ScopeForGroup(@Model!.Survey.LocalGroup);
}

<section class="hero is-small is-primary">
	<div class="hero-body">
		<h1 class="title">@Localizer["Survey Results"]</h1>
		<h2 class="subtitle">@GroupLocalizer[Model.Survey.Description]</h2>
	</div>
</section>
<section class="section">
	<h2 class="subtitle is-6">@Html.Raw(string.Format(Localizer["This survey received {0} responses from {1} countries{2}"].ToString(), 
		$"<b>{Model.TotalResponses}</b>", $"<b>{Model.UniqueCountries}</b>",
		Model.UniqueCountries > 0 ? ": " + string.Join(", ", Model.CountryNames): ""))
	</h2>

	@foreach(var question in Model.Questions)
	{
		<div class="box">
			<h2 class="is-size-5">@Localizer["Question ### asked"].ToString().Replace("###", @question.Position.ToString()) <small>@GroupLocalizer[question.Label]</small></h2>
			@if (question.IsFreeResponse)
			{
				<p>@Localizer["This was a free-response question. Responses said:"]</p>
				<div class="content">
					<ul>
						@foreach (var response in question.FreeResponses!)
						{
							<li>
								@response.TranslatedText
								@if (!string.Equals(response.TranslatedText, response.OriginalText))
								{
									<div class="dropdown is-hoverable">
										<div class="dropdown-trigger">
											<span class="tag is-dark">@Localizer["Original Text"] <span class="icon is-small"><i class="fas fa-angle-down"></i></span></span>
										</div>
										<div class="dropdown-menu">
											<div class="dropdown-content">
												<div class="dropdown-item">
													@response.OriginalText
												</div>
											</div>
										</div>
									</div>
								}
							</li>
						}
					</ul>
				</div>
			}
			else
			{
				<table class="table is-fullwidth">
					@foreach (var response in question.FixedResponses.OrderByDescending(k => k.Value))
					{
						<tr>
							<td>@GroupLocalizer[response.Key]</td>
							<td>@response.Value</td>
							<td><progress class="progress" value="@response.Value" max="@Model.TotalResponses"></progress></td>
						</tr>
					}
				</table>
			}
		</div>
	}
	<p>
		<a asp-action="List">
			<span class="icon"><i class="bi bi-arrow-left-square-fill"></i></span>
			@Localizer["Return to survey list"]
		</a>
	</p>
</section>