@model GaspApp.Models.ParticipateViewModels.ResultsViewModel
@inject SharedViewLocalizer Localizer    
@{
	ViewData["Title"] = Localizer["Results"];
}

<section class="hero is-small is-primary">
	<div class="hero-body">
		<h1 class="title">@Localizer["Survey Results"]</h1>
		<h2 class="subtitle">@Model.Survey.Description</h2>
	</div>
</section>
<section class="section">
	<h2 class="subtitle is-6">This survey received <span class="has-text-weight-bold">@Model.TotalResponses</span> responses from <span class="has-text-weight-bold">@Model.UniqueCountries</span> countries.</h2>

	@foreach(var question in Model.Questions)
	{
		<div class="box">
			<h2 class="is-size-5">Question @question.Position asked <small>@question.Label</small></h2>
			@if (question.IsFreeResponse)
			{
				<p>This was a free-response question. Responses said:</p>
				<div class="content">
					<ul>
						@foreach (var response in question.FreeResponses!)
						{
							<li>
								@response.OriginalText @* TODO Translated Text *@
								<div class="dropdown is-hoverable">
									<div class="dropdown-trigger">
										<span class="tag is-dark">Original Text <span class="icon is-small"><i class="fas fa-angle-down"></i></span></span>
									</div>
									<div class="dropdown-menu">
										<div class="dropdown-content">
											<div class="dropdown-item">
												@response.OriginalText
											</div>
										</div>
									</div>
								</div>
							</li>
						}
					</ul>
				</div>
			}
			else
			{
				<table class="table is-fullwidth">
					@foreach (var response in question.FixedResponses.OrderByDescending(k => k.Value))
					{
						<tr>
							<td>@response.Key</td>
							<td>@response.Value</td>
							<td><progress class="progress" value="@response.Value" max="@Model.TotalResponses"></progress></td>
						</tr>
					}
				</table>
			}
		</div>
	}
	<p>
		<a asp-action="List">
			<span class="icon"><i class="bi bi-arrow-left-square-fill"></i></span>
			@Localizer["Return to survey list"]
		</a>
	</p>
</section>